@import '../common/mixins'

.pokeTypeTable
  border-spacing 0

.type
  font-size 10px
  // temporarily disable `font-variant-property` PostCSS feature in order to
  // avoid confliction between `text-transform capitalize` and
  // `font-feature-settings c2sc`
  text-transform capitalize
  font-variant small-caps

.slashedHeader
  position relative
  font-weight normal

  svg
    position absolute
    top 0
    left 0
    width 100%
    height 100%

  &::before,
  &::after
    font-size 20px
    transform scale(0.5)

  &::before
    content "ATK"
    position absolute
    left 0
    bottom 0
    transform-origin bottom left

  &::after
    content "DEF"
    position absolute
    top 0
    right 0
    transform-origin top right

.atkType
  @extend .type
  text-align right
  font-weight bold
  min-width 4em

.defType
  @extend .type
  text-align center
  min-width 4em

.effect
  text-align center

.highlighted
  background-color #eee

.placeholder
  color #999
  font-size 12px
  font-style italic

.clearBtn
  link-click-effect(#999)
  font-size 14px
  margin-left 0.5em
