@import 'mixins'

#root
  padding 1em
  max-width 1200px

.antd-table *,
.scrollbar-test
  scrollbar-x(5px, #ccc, #888, 5px)
  scrollbar-y(5px, #ccc, #888, 5px)

.scrollbar-test
  width 300px
  height 200px
  overflow-y scroll
