.body
  display flex
  height 100vh
  overflow hidden

.sidenav
  flex 0 0 auto
  min-width 48px

.content
  flex 1
  margin 2em 1em
  padding 0 1em
  overflow-y auto

.article
  .title
    font-size 1.5em

  .seperator
    margin 1em 0
    border none
    border-bottom 1px solid #767676

  p
    margin 1em
