scrollbar-x(size, bg, thumb, radius)
  &::-webkit-scrollbar
    width size

  &::-webkit-scrollbar:horizontal
    background bg
    border-radius radius

  &::-webkit-scrollbar-thumb:horizontal
    background-color thumb
    border-radius radius

  &::-webkit-scrollbar-button:decrement
  &::-webkit-scrollbar-button:increment
    display none

scrollbar-y(size, bg, thumb, radius)
  &::-webkit-scrollbar
    height size

  &::-webkit-scrollbar:vertical
    background bg
    border-radius radius

  &::-webkit-scrollbar-thumb:vertical
    background-color thumb
    border-radius radius

  &::-webkit-scrollbar-button:decrement
  &::-webkit-scrollbar-button:increment
    display none

link-click-effect(baseColor, amount = 10%)
  color baseColor
  border-bottom 1px dashed baseColor
  text-decoration none

  &:hover
    border-bottom 1px solid baseColor

  &:active
    color darken(baseColor, amount)
    border-bottom 1px solid baseColor
